.Profile {
    .header {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      border-bottom: solid 1px gray;
    }
    .leftHeader {
      display: flex;
      align-items: center;
    }
    .rightHeader {
      display: flex;
      align-items: center;
    }
    img {
      width: 30px;
      height: 30px;
    }
    .user {
      display: flex;
    }
    .author {
      display: flex;
      justify-content: space-between;
    }
    .first {
      display: flex;
      align-items: center;
    }
    .relatedTopic {
      margin: 2px;
    }
    .react {
        display: flex;
      justify-content: space-between;
    }
    .vote {
      display: flex;
    }
    .upvote, .downvote {
      display: flex;
      align-items: center;
      margin: 3px;
    }
  }