:root {
    box-sizing: border-box;
}
.MainNavBar {
    display: flex;
    img {
        max-width: 200px;
    }
    box-shadow: 0 4px 8px 0 rgba(223, 218, 218, 0.2), 0 1px 20px 0 rgba(218, 209, 209, 0.19);
    .Main_NavBar_Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Main_NavBar_List {
        display: flex;

        ul {
            margin: 0;
            display: flex;
            align-items: center;
            li {
                margin-left: 25px;
                list-style: none;
            }
        }
    }
    #logo {
        height: 80px;
    }
}
@media only screen and (max-width: 1024px) {
    .LeftSection {
        border-right: none !important;
    }
}
.LeftSection {
    border-right: 1px solid rgba(230, 230, 230, 1);
    padding: 0px;
    margin: 0px;
    .YourTopics {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgba(230, 230, 230, 1);

        .TopicContainer {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
.RightSection {
    position: sticky;
    z-index: 10;
    top: 0;
    .RecommendedTopic {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .RecommendedTopic_Container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
        }
    }
    .WhoToFollow {
        display: flex;
        flex-direction: column;
    }
}
.ProfileMenu {
    img {
        border-radius: 50%;
        max-width: 40px;
        max-height: 40px;
    }
}
.notificationContent {
    width: 350px;
    overflow-wrap: break-word;
    border-bottom: 1px solid rgba(230, 230, 230, 1);
    margin-bottom: 20px;
    .left {
        display: flex;
        padding-left: 14px;
    }
    .time {
        color: #757575;
        padding-left: 15px;
    }
}

.TopicContainer {
    background-color: rgba(242, 242, 242, 1);
    padding: 8px 16px;
    border-radius: 100px;
    margin: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: block;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.TopicContainer:hover {
    background-color: rgba(230, 230, 230);
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}
a:visited {
    color: black;
}
a:link {
    color: black;
}
