:root {
    box-sizing: border-box;
}
*,
::before,
::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#illus {
    max-width: 100%;
}
.NavBar {
    background: #fec016;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    z-index: 10;
    img {
        max-width: 250px;
    }

    .NavBar_Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .NavBar_Lists {
        #get_start {
            background: #191919;
            color: #fff;
            text-transform: inherit;
            border-radius: 50px;
            padding: 5px 15px;
            font-size: 16px;
        }
        ul {
            display: flex;
            align-items: center;
            li {
                margin-left: 25px;
                list-style: none;
            }
        }
    }
    #logo {
        height: 80px;
        background: #fec016;
    }
}
.Footer {
    background: #fec016;
    border-bottom: 1px solid black;
    #logo {
        height: 80px;
    }
    img {
        max-width: 250px;
    }
    .Footer_Lists {
        ul {
            display: flex;
            align-items: center;
            li {
                margin-left: 25px;
                list-style: none;
            }
        }
    }
    .Footer_Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.App_MainSection {
    background: #fec016;
    border-bottom: 1px solid black;
    h1 {
        font-size: 70px;
        font-weight: 400;
        color: #080808;
    }
    p {
        font-weight: 300;
        font-size: 20px;
        color: #2a2a2a;
        margin-top: 35px;
    }
    button {
        border: 2px solid #2a2a2a;
        text-transform: inherit;
        color: #2a2a2a;
        font-weight: 500;
        font-size: 16px;
        border-radius: 50px;
        padding: 5px 20px;
        margin: 35px 0;
    }
    img {
        max-width: 500px;
        float: right;
    }
}
.modal {
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content {
        width: 500px;
        background-color: #ffff;
    }
    .modal-header,
    .modal-footer {
        padding: 10px;
    }
    .modal-title {
        margin: 0;
    }
    .modal-body {
        padding: 10px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
    }
    small {
        color : red;
    }
}

.MediumPosts {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 30px 0;
    cursor: pointer;
    width: 100%;

    .MuiSvgIcon-root {
        color: #757575;
        font-size: 16px;
        margin-top: 10px;
    }

    .MediumPosts_TimeStamps {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        width: 100%;

        .MediumPosts_Bookmark {
            font-size: 25px;
        }

        .MuiSvgIcon-root {
            margin: 0 5px;
        }

        .MediumPosts_TimeStamp_Paragraph {
            display: flex;
            align-items: center;
            color: #757575;

            span {
                font-family: "Open Sans", sans-serif !important;
                color: #757575;
                font-weight: 400;
                font-size: 13px;
            }
        }
    }

    .MediumPosts_image {
        margin-left: 15px;
        height: 100px;
        width: 250px;
        background-position: center;
        background-size: cover;
    }

    .MediumPosts_Text {
        width: 100%;

        p {
            font-weight: 500;
            color: #7f7f7f;
            font-size: 15px;
            margin: 5px 0;
            font-family: "Open Sans", sans-serif !important;
        }
    }
}

.UserIntro {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 15px;
    .avatar {
        padding: 0px;
    }
    .user {
        display: flex;
    }
    .text {
        //border: solid 1px red;
        color: #757575;
        word-wrap: break-word;
    }
    .header {
        //border: solid 1px red;
        display: flex;
        cursor: pointer;
        align-self: center;
    }
    .descrip {
        padding: 2px;
        display: inline-block;
    }
    .follow {
        //border: solid 1px red;
        font-size: 1px;
        display: inline-block;
        align-self: center;
    }
}
.SignUp {
    small {
        color: red;
    }
}
.hover {
    cursor: pointer;
}