.viewPost {
  img {
    width: 100%;
    max-width: 100%;
  }
  .user {
    display: flex;
  }
  .author {
    display: flex;
    justify-content: space-between;
  }
  .first {
    display: flex;
    align-items: center;
  }
  .relatedTopic {
    margin: 2px;
  }
  .react {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
  }
  .vote {
    display: flex;
  }
  .upvote,
  .downvote {
    display: flex;
    align-items: center;
    margin: 3px;
    cursor: pointer;
  }
}
.comment-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  opacity: 1;
}
.comment-modal-content {
  width: 500px;
  background-color: #fff;
  height: 100%;
}
.comment-modal-header,
.comment-modal-footer {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.comment-modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.CommentContainer {
  textarea {
    font-family: var(--font-family);
    border: none;
    resize: none;
  }
  textarea::placeholder {
    color: var(--gray);
  }

  label {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  button {
    cursor: pointer;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  button[type="submit"] {
    background: green;
    border-radius: 100px;
  }
  .comment-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin: 50px auto;
    background: var(--white);
    border-radius: var(--border-radius);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 14px;
    transition: min-height var(--transition);
    max-height: 46px;
  }

  .comment-box.modified {
    max-height: unset;
  }
  .header {
    transition: opacity var(--transition) 0.2s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  .user {
    display: flex;
    align-items: center;
  }

  .user img {
    border-radius: 20px;
    margin-right: 10px;
  }

  .comment-box.expanded .header {
    transform: translateY(10px);
    opacity: 1;
    visibility: visible;
  }
  .comment-field {
    color: var(--black);
    transition: transform var(--transition);
    font-size: 18px;
    width: 100%;
    outline: none;
    padding: 0;
    min-height: 60px;
    transform: translateY(-32px);
    line-height: 1;
  }

  .actions {
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin-top: 50px;
    opacity: 0;
    transition: opacity var(--transition) 0.2s;
  }

  .comment-box.expanded .actions {
    opacity: 1;
  }

  .actions button {
    margin-left: 6px;
    font-size: 14px;
    padding: 12px;
    border: none;
    line-height: 1;
  }

  .actions .cancel {
    background: none;
  }
  .comment-box.expanded .comment-field {
    transform: translateY(40px);
  }
}
.chat-icon{
  display: flex;
  align-items: center;
}